.hero {

}

.carousel-item {
  background: rgba(0,0,0,1);
  .carousel-image {
    opacity: 0.8;
    width: 100%;
    min-height: 75vh;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
